/* Resetting the default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting full-height for the body and allowing scrolling */
html,
body {
    height: 100%;
    overflow-y: auto;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* Basic styles for the page sections */
.header,
.section,
.footer {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

.section {
    height: 800px;
    /* Fixed height for each section */
}

/* Header styling */
.header {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
}

/* Logo styling */
.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 10px;
}


/* Section layout */
.section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* Full height for content alignment */
}

.about-content {
    display: flex;
    gap: 20px; /* Space between columns */
}

.about-text {
    flex: 1; /* 1 part of the 1:2 ratio */
}

.about-image {
    flex: 2; /* 2 parts of the 1:2 ratio */
}

.members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    grid-template-rows: repeat(3, auto);
    /* 3 rows */
    gap: 20px;
    /* Space between grid items */
    padding: 20px 0;
}

.member {
    text-align: center;
}

.member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
}

/* Match styling */
.match {
    padding: 20px 0;
}

/* Footer styling */
.footer {
    text-align: center;
    font-size: 0.8em;
    color: #888;
}

.responsive-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
  }