.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Apply Amatic SC as the default font for the entire page */
body {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  line-height: 1.6;

  /* Background image settings */
  background-image: url("images/me.jpg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 50% 0%;
}

/* Styling for headings and paragraphs */
h1 {
  font-weight: 700; /* Bold weight for headings */
  font-size: 2.5em; /* Adjust size as needed */
  text-align: center;
  margin-top: 20px;
  color: #333;
}

p {
  font-weight: 400; /* Regular weight for body text */
  font-size: 1.5em;
  text-align: center;
  color: #555;
}

/* Style for links */
a {
  color: #0073e6;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}
