table {
    width: 60%;
    
    margin-left: auto;
    text-align: center;
    margin-right: auto;
  }

  td {
      min-width: 100px;
      text-align: center;
  }
  
  th.mat-header-cell {
    text-align: center;
   }

div {
  padding-top: 60px;
  padding-bottom: 60px;
}

  img {
      margin: 16px;
    border: 5px solid #555;
  }

  .gold-background {
    background-color: #f2dec9;
}