<div class="gold-background">
    <mat-grid-list cols="2">
        <mat-grid-tile [colspan]="1" [rowspan]="1" rowHeight="400">
                
            <div>📆 Minden vasárnap 17:00-tól!<br/>
                📍 Cím:
                <a href="https://goo.gl/maps/rmfyKPyC25W4hmRJA">Budapest, Orczy út 46-48, 1089</a>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" rowHeight="400">
            
            <div>
                <img src="assets/img/maps.png" style="max-height: 400px">
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>