<mat-toolbar color="primary">
  <img routerLink="/news" src="assets/img/logo_512.png" width="64" height="64">
  <button mat-button>
    <span routerLink="/news">Hírek</span>
  </button>
  <button mat-button>
    <span routerLink="/img">Képek</span>
  </button>
  <button mat-button>
    <span routerLink="/library">Könyvtár</span>
  </button>
  <button mat-button>
    <span routerLink="/about">Elérhetőség</span>
  </button>
  <span class="flexExpand"></span>
  <button mat-icon-button onclick="window.open('//www.facebook.com/golyasakk')">
    <mat-icon>facebook</mat-icon>
  </button>
</mat-toolbar>