<div class="gold-background">
    <mat-grid-list cols="6" rowHeight="600px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <div>
                <blockquote class="imgur-embed-pub" lang="en" data-id="a/TemM3y1">
                    <a href="//imgur.com/a/TemM3y1">Halloween sakk</a>
                </blockquote>
            </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <div>
                <blockquote class="imgur-embed-pub" lang="en" data-id="a/xJGZPpa">
                    <a href="//imgur.com/a/xJGZPpa">Október 3-i alkalom</a>
                </blockquote>
            </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <div>
                <blockquote class="imgur-embed-pub" lang="en" data-id="a/1zxq4a8"><a
                        href="//imgur.com/a/1zxq4a8">Szeptember</a></blockquote>
            </div>
        </mat-grid-tile>



    </mat-grid-list>
</div>