.news-card {
    max-width: 600px;
}

.gold-background {
    background-color: #f2dec9;
}

.white-background {
    background-color: white;
}

ul li{margin-bottom:10px;}

h2 {
    display: block;
    font-size: 2em;
    padding-left: 50px;
    padding-top: 50px;
    
    font-weight: bold;
  }